@font-face {
  font-family: "DNFBitBitOTF";
  src: url("/fonts/DNFBitBitOTF.otf");
  font-weight: 400;
  font-style: normal;
}

.Play {
  position: fixed;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  height: 812px;
  background-color: #cef1f8;
}

@media (max-width: 500px) {
  .Play {
    width: 100%;
    height: 100%;
    background-size: contain;
  }
}

.timerContainer {
  margin-top: 26px;
  margin-bottom: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  display: flex;
  align-items: center;
  gap: 13px;
  font-size: 25px;
  font-family: "DNFBitBitOTF";
  font-weight: 400;
}

.mazeContainer {
  width: 327px;
  height: 279px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  /*border: 1px solid whitesmoke;*/
  margin-bottom: 40px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow_start {
  position: relative;
  width: 45px;
  height: 45px;
  top: -30px;
}

.arrow_finish {
  position: relative;
  width: 45px;
  height: 45px;
  top: 30px;
}

.text_start {
  position: relative;
  top: -40px;
  left: 10px;
}

.text_finish {
  position: relative;
  top: 40px;
  left: -10px;
}

.controlArea {
  display: flex;
  gap: 30px;
}

.stack {
  width: 30px;
  height: 280px;
  background-color: #d9d9d9;
}

.cardList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 254px;
  height: 280px;
  background-color: #d9d9d9;
}

.cardList > div {
  display: flex;
  font-family: "DNFBitBitOTF";
  font-size: 25px;
  font-weight: 400;
}

.actionCard {
  width: 226px;
  height: 39px;
  border-radius: 10px;
}

.U {
  background-image: url("/assets/card_up.svg");
}

.D {
  background-image: url("/assets/card_down.svg");
}

.L {
  background-image: url("/assets/card_left.svg");
}

.R {
  background-image: url("/assets/card_right.svg");
}

.btn_container {
  display: flex;
  margin-top: 10px;
  gap: 30px;
}

.btn_container > button {
  padding-left: 10px;
  padding-right: 10px;
}
