.Play {
  position: fixed;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  height: 812px;
  background-color: #cef1f8;
}

@media (max-width: 500px) {
  .Play {
    width: 100%;
    height: 100%;
    background-size: contain;
  }
}

.timerContainer {
  margin-top: 26px;
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_timer {
  width: 25px;
  height: 25px;
}

.timer {
  display: flex;
  align-items: center;
  gap: 13px;
  font-size: 22px;
  font-family: "DNFBitBitOTF";
  font-weight: 400;
}

.mazeContainer {
  width: 295px;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  /*border: 1px solid whitesmoke;*/
  margin-bottom: 35px;
}

@media (max-height: 700px) {
  .mazeContainer {
    width: 275px;
    height: 240px;
    background-size: contain;
  }
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_char_maze {
  position: absolute;
  width: 25px;
  height: 35px;
}

.arrow_start {
  position: relative;
  width: 30px;
  height: 30px;
  top: -40px;
}

.arrow_finish {
  position: relative;
  width: 30px;
  height: 30px;
  top: 40px;
}

.text_start {
  position: relative;
  top: -40px;
  left: 5px;
}

.text_finish {
  position: relative;
  top: 40px;
  left: -5px;
}

.controlArea {
  display: flex;
  gap: 30px;
}

.stack_wrapper {
  position: relative;
  width: 38px;
  height: 267px;
  margin-top: 10px;
  background-color: white;
  border-radius: 10px;
  overflow-y: auto;
}

.stack {
  position: absolute;
  width: 100%;
  max-height: 100%;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img_fruit {
  width: 25px;
  height: 30px;
}

.mandarin {
  height: 22px;
}

.cardList_background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 240px;
  height: 250px;
  border-radius: 20px;
  margin-top: 26px;
  background-color: transparent;
  background-image: url("/assets/img_card.svg");
}

.cardList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 55px;
}

.img_card {
  position: absolute;
}

.actionCard {
  width: 204px;
  height: 34px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px gray;
}

.actionCard:active {
  box-shadow: none;
}

.U {
  background-image: url("/assets/card_up.svg");
}

.D {
  background-image: url("/assets/card_down.svg");
}

.L {
  background-image: url("/assets/card_left.svg");
}

.R {
  background-image: url("/assets/card_right.svg");
}

.btn_container {
  display: flex;
  margin-top: 10px;
  gap: 35px;
}

.btn_container > button:active {
  box-shadow: none;
}

.btn_reset {
  width: 100px;
  height: 40px;
  background-image: url("/assets/btn_reset.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
  border-radius: 7px;
  box-shadow: 2px 2px 2px 2px gray;
  transition-duration: 0.3s;
}

.btn_run {
  width: 100px;
  height: 40px;
  background-image: url("/assets/btn_start.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
  border-radius: 7px;
  box-shadow: 2px 2px 2px 2px gray;
  transition-duration: 0.3s;
}

/*success*/

.modal_background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.success_background {
  width: 338px;
  height: 339px;
  background-image: url("/assets/alert_gameover_success.svg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.record {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1396af;
  text-align: center;
  font-family: "DNFBitBitOTF";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  gap: 30px;
}

.btn_success {
  width: 250px;
  height: 59px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-image: url("/assets/btn_ranking.svg");
  background-color: transparent;
  border-radius: 7px;
  border: none;
  box-shadow: 2px 2px 2px 2px gray;
  transition-duration: 0.3s;
}

.btn_success:active {
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: none;
}

/*fail*/

.fail_background {
  width: 338px;
  height: 339px;
  background-image: url("/assets/alert_gameover_fail.svg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.failbtn_container {
  display: flex;
  gap: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.failbtn_container > button:active {
  box-shadow: none;
}

.btn_retry {
  width: 118px;
  height: 59px;
  background-image: url("/assets/btn_retry.svg");
  background-color: transparent;
  border-radius: 7px;
  border: none;
  box-shadow: 2px 2px 2px 2px gray;
  transition-duration: 0.3s;
}

.btn_exit {
  width: 118px;
  height: 59px;
  background-image: url("/assets/btn_exit.svg");
  background-color: transparent;
  border-radius: 7px;
  border: none;
  box-shadow: 2px 2px 2px 2px gray;
  transition-duration: 0.3s;
}
